// add-on variable and base
@import '_sizes';

// Variables
@import '_variables';

// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// components
@import 'components/nav.scss';
@import 'components/table.scss';
@import 'components/aside.scss';

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a, button {
    transition-duration: 0.15s;
    text-decoration: none!important;
}

a:focus, button:focus, input:focus, textarea:focus, select:focus {
    box-shadow: none!important;
    outline: 0!important;
    text-decoration: none!important;
}

a:hover {
  text-decoration: none!important;
}

::-moz-selection {
    background-color: $primary;
    color: $white;
}

::selection {
    background-color: $primary;
    color: $white;
}

.cursor-pointer {
    cursor: pointer;
}

.nav-link {
    &.current {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            right: 0;
            bottom: -3px;
            left: 0;
            height: 3px;
            background-color: $primary;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
        }
    }
}

.form-overlay {
    z-index: 90000;
    background-color: rgba($white, 0.8);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.form-group {
    > label {
        font-weight: 700;
    }
}

@include media-breakpoint-up(sm) {

}

@include media-breakpoint-up(md) {

}

@include media-breakpoint-up(lg) {

    .sidebar {
        flex: 0 0 240px;
    }

}

@include media-breakpoint-up(xl) {

    .sidebar {
        flex: 0 0 380px;
    }

}