$nav-height         : 65px;
$aside-width        : 280px;

body {
    &.logged-in {
        padding-top: $nav-height;
    }
}

aside {
    position: fixed;
    // top: $nav-height;
    top: 0;
    left: -#{$aside-width};
    bottom: 0;
    width: $aside-width;
    transition-duration: 0.1s;
    z-index: 1035;
    background-color: $white;

    ul {
        li {
            margin-bottom: 1px;

            a {
                padding-top: 9px;
                padding-bottom: 9px;

                &:hover {
                    color: $primary;
                    font-weight: 700;
                }
            }

            &.is-child {
                a {
                    color: $secondary;

                    &:hover {
                        color: $primary;
                    }
                }
            }

            &.has-children {
                &.active {
                    font-weight: 700;
                    border-radius: 4px;
                }
            }

            &.active:not(.has-children) {
                a {
                    color: $primary;
                    font-weight: 700;
                    background-color: $gray-100;
                    border-radius: 4px;
                }
            }
        }
    }
}

.aside-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($dark, 0.8);
    z-index: 1034;
    visibility: hidden;
    opacity: 0;
    transition-duration: 0.2s;
}

body.show-aside {
    aside {
        left: 0;
    }

    .aside-backdrop {
        visibility: visible;
        opacity: 1;
    }
}

@include media-breakpoint-up(sm) {

    //

}

@include media-breakpoint-up(md) {

    //

}

@include media-breakpoint-up(lg) {

    body {
        &.logged-in {
            padding-left: $aside-width;
        }
    }

    aside {
        left: 0;
        top: $nav-height;
        z-index: 100;
    }

}

@include media-breakpoint-up(xl) {

    //

}
