.table {
    thead {
        tr {
            th {
                font-size: $px-14;
                font-weight: 700;
                padding-top: $px-14;
                padding-bottom: $px-14;
                border: none;
            }
        }
    }
    tbody {
        tr {
            td {
                padding-top: $px-14;
                padding-bottom: $px-14;
                border: none;
            }
        }
    }
}

.td-actions {
    a {
        margin-left: 10px;
    }
}

@include media-breakpoint-up(sm) {

    //

}

@include media-breakpoint-up(md) {

    .table {
        thead {
            tr {
                th {
                    &:first-child {
                        padding-left: $px-24;
                    }
                    &:last-child {
                        padding-right: $px-24;
                    }
                }
            }
        }

        tbody,
        tfoot {
            tr {
                td {
                    &:first-child {
                        padding-left: $px-24;
                    }
                    &:last-child {
                        padding-right: $px-24;
                    }
                }
            }
        }
    }

}

@include media-breakpoint-up(lg) {

    .td-actions {
        a {
            visibility: hidden;
            opacity: 0;
            transition-duration: 0.1s;
        }
    }

    tr {
        &:hover {
            .td-actions {
                a {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }

}

@include media-breakpoint-up(xl) {

    //

}
